<aside class="main-sidebar">
    <section class="sidebar">
        <ul class="sidebar-menu" data-widget="tree">
          <!-- <li class="header">@lang('main navigation')</li> -->
          <li class="<%= main_module == '' ? 'active' : '' %>"><a href="../"><i class="fa fa-tachometer"></i> <span>Dashboard</span></a></li>
          <li class="treeview <%= main_module == 'users' ? 'active' : '' %>">
          <a href="#">
          <i class="fa fa-users"></i> <span>Users</span>
          <span class="pull-right-container">
          <i class="fa fa-angle-left pull-right"></i>
          </span>
          </a>
          <ul class="treeview-menu">
          <li  class="<%= child_module == 'manage' ? 'active' : '' %>"><a href="../users/manage"><i class="fa fa-circle-o"></i>Manage Users</a></li>
          </ul>
          </li>
          <li class="treeview <%= main_module == 'exercise' ? 'active' : '' %>">
          <a href="#">
          <i class="fa fa-grav"></i> <span>Exercises</span>
          <span class="pull-right-container">
          <i class="fa fa-angle-left pull-right"></i>
          </span>
          </a>
          <ul class="treeview-menu">
          <li  class="<%= child_module == 'add' ? 'active' : '' %>"><a href="../exercise/add"><i class="fa fa-circle-o"></i>Add Exercise</a></li>
          <li  class="<%= child_module == 'manage' ? 'active' : '' %>"><a href="../exercise/manage"><i class="fa fa-circle-o"></i>Manage Exercises</a></li>
          </ul>
          </li>
          <li class="treeview <%= main_module == 'equipment' ? 'active' : '' %>">
          <a href="#">
          <i class="fa fa-life-ring"></i> <span>Equipment</span>
          <span class="pull-right-container">
          <i class="fa fa-angle-left pull-right"></i>
          </span>
          </a>
          <ul class="treeview-menu">
          <li  class="<%= child_module == 'add' ? 'active' : '' %>"><a href="../equipment/add"><i class="fa fa-circle-o"></i>Add Equipment</a></li>
          <li  class="<%= child_module == 'manage' ? 'active' : '' %>"><a href="../equipment/manage"><i class="fa fa-circle-o"></i>Manage Equipment</a></li>
          </ul>
          </li>
        </ul>
      </section>
  </aside>
